@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,900,700,500);

@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

/*import material symbols link below does not work
/* @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"); */

html {
  scroll-behavior: smooth;
  touch-action: manipulation;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: #fff;
  font-weight: bold;
}

.project-page-heading h1,
.project-page-heading h2 {
  color: #000;
  font-weight: bold;
  padding-left:11%;
}

h1 {
  font-size:2.5em;
  line-height: 1em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
  line-height: 1.2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 0;
  list-style: disc;
  margin-left: 17px;
}

li.list-icon {
  list-style: "\e8f9";
  font-family: "Material Icons Outlined";
  color: #fff;
}

.backup-container a {
  color:#fff;
  opacity: 0.7;
  text-decoration: none;
}

#right-arrow-container {
  position:fixed;
  right:0;
    display: flex;
    justify-self: flex-end;
    background-color: #fff;
    height: 100vh;
    opacity: 0.4;
    width: 50px;
    top: 0;
    position: fixed;
}

#left-arrow-container {
      position: fixed;
      left:0;
    display: flex;
    justify-self: flex-start;
    background-color: #fff;
    height: 100vh;
    opacity: 0.4;
      width: 50px;
    top: 0;

}

button#right-arrow, button#left-arrow {
  color:#000;
  background:0;
  border:none;
}

button#right-arrow::after {
    position: absolute;
    content: "\e5cc";
    font-family: "Material Icons Outlined";
    font-size: 8em;
    right: -38px;
    display: inline-block;
    vertical-align: middle;
    top: 200px;
}

button#left-arrow::after {
    position: absolute;
    content: "\e5cb";
    font-family: "Material Icons Outlined";
    font-size: 8em;
    left: -42px;
    display: inline-block;
    vertical-align: middle;
    top: 200px;
}


/* 
#arrow-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  width: 100%;
  z-index: 999;
  bottom: 0;
  background-color: #afafaf !important;
  padding: 10px;
  flex-wrap: wrap;
  gap: 10px;
} */
/* 
#arrow-container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  border-radius: 10px;
  width: 100px;
  margin-left: 5px;
  background-color: #fff;
  font-weight: bold;
  color: #888;
} */

#arrow-container a {
  text-decoration: none;
}

.backup-container {
  float:right;
  padding-right: 90px;
  text-decoration: none;
}

.back-up-link {
  display:none;
}

.back-up-link::before {
  content: "\e316";
  font-family: "Material Icons Outlined";
  font-size: 100px;
}

.home-page-heading {
  text-align:left;
}

.page-heading {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  height: 100vh;
}

.project-page-heading {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  color: #000;
}

.intro {
  text-align: left;
    font-size: 1em;
    line-height: 30px;
    font-weight: 400;
    padding-right: 5%;
    color: #fff;
    /* max-width: 80%; */
}

.view-more-link span {
  font-size: 25em;
  color: #fff;
}

.view-more-link .material-icons-outlined:hover {
  color:#bb88da;
  animation: pulse 0.8s ease-out;
}

@keyframes pulse {
  0% {
    transform-y:translateY(0);
    opacity: 1;
  }
  50% {
    opacity: 0.7;
      transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform-y:translateY(0);
  }
}


#profile::before {
  content: "\e7fd";
  font-family: "Material Icons Outlined";
  font-size: 50px;
  color: #fff;
  line-height: 1em;
}


#resume::before {
  content: "\e873";
  font-family: "Material Icons Outlined";
  font-size: 50px;
  color: #fff;
  line-height: 1em;
}

.project-content {
  color: #000;
  display: flex;
  padding-left:11%;
  width:80%;
}

.project-content.feature-image {
  /* width: 100%; */
  height: 300px;
  margin:70px 0px 20px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* align-items: flex-end;
  justify-content: flex-end; */
}

.image-url:after {
  content: "\e89e";
  font-family: "Material Icons Outlined";
  font-size: 50px;
  color: #000;
  background-color: #fff;
  padding: 14px;
  border-radius: 60%;
}

a.image-url {
    justify-content: right;
    display: flex;
    color: #fff;
    margin-bottom:20px;
}

#bg-image {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

#bg-image::before {
  font-size: 34em;
  content: "𛱔𛱕𛱖𛱗𛱘𛱙𛱚§𛱩𛱪𛱰𛱱𛱲𛱳𛱴𛰀𛰁𛰂𛰃𛰄𛰅𛰆𛲖𛲗𛲘𛲙𛰅𛰔𛱢𛱣𛱙𛱔𛱕𛱖𛱤𛱥§𛱦𛱧𛱨𛰀𛰁𛰑𛱔𛱕𛱖𛱗𛱘𛱙𛱩𛱪𛱰𛱱𛱲𛱳𛱴 𛰀𛰁𛰂𛰃𛰄𛰅𛰆𛲔𛲕𛲖𛲗𛲘𛲙𛰅𛰎𛰏𛰐𛰑𛰒𛰓 𛰔 𛱢𛱣𛱙𛱔𛱕𛱖𛱤𛱥𛱦𛱧𛱨𛰀𛰁𛰑";
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 22px;
  line-height: 75px;
  color: #fff;
  position: absolute;
  top: 10%;
  left: 50%;
  
}

#center-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align:center;
  scroll-behavior: smooth;
  scroll-padding-block-start: 0;
}

#project-center-content {
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom:100px;
}

#center-content button {
    font-weight: bold;
    margin-left: 10px;
    color: #000;
    background-color: #fff;
    margin-bottom: 20px;
    width:200px;
    height:40px;
}

button {
  font-family: Roboto, sans-serif !important;
  font-size: 15px;
  margin: 0;
  border-radius: 15px;
  padding: 5px 10px;
}

button.w3-button.w3-black.w3-round-large {
  background-color: #666 !important;
}

button.w3-button.w3-black.w3-round-large:after {
  content: " ↗";
}

.timeline-container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  row-gap: 30px;
  justify-content: flex-start;
  flex: 0 0 100%;
  width: 1100px;
  padding-top: 30px;
}

.timeline-about {
  color: #fff;
  padding-right: 20%;
    flex-direction: column;
  padding-left: 100px;
  justify-content: flex-start;
  flex: 0 0 100%;
  padding-top: 30px;
}

.timeline-content {
  color: #fff;
  padding-top:20px;
}

.timeline-content h2 {
    margin-top: 70px;
}

.timeline-project {
  color: #fff;
  padding-right: 40%;
}

/* @media only screen and (max-width: 1000px) { */
@media only screen and (max-width: 748px) {

.page-heading {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.home-page-heading {
  padding: 0 15%;
}


.timeline-content{
  padding:0 20%;
}

.intro {
  padding:0 15%;
}
.view-more-link span {
  font-size: 18em;
}

/* 
button#right-arrow {
  position: absolute;
  right: 10px;
}

button#right-arrow::after {
  content: "\e5cc";
  color:#fff;
  font-family: "Material Icons Outlined";
  font-size: 8em;
  margin-left: 8px;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
} */


/* #arrow-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  width: 100%;
  z-index: 999;
  bottom: 0;
  background-color: #afafaf !important;
  padding: 10px;
  flex-wrap: wrap;
  gap: 10px;
}

#arrow-container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  border-radius: 10px;
  width: 100px;
  margin-left: 5px;
  background-color: #fff;
  font-weight: bold;
  color: #888;
}

#arrow-container a {
  text-decoration: none;
} */

}